
<header class="main-header">
		<div class="container">

		  <nav class="main-header__nav">
			<ul class="main-header__list">

				<li class="main-header__item logo <%= path ==='/' ? 'active' : '' %> "><a href="/">Bleague</a></li>

				<div class="main-header__features">
					
					<% if (!isAuth) { %>
					<li class="main-header__item <%= path==='/login' || path=='/signup' ? 'active' : '' %>"><a href="/login">LOGIN</a></li>
					<%}%>
					<% if (isAuth) { %>

						<!-- logged in features -->
						<li class="main-header__item <%= path ==='/user/new-post' ? 'active' : '' %> "><a href="/user/new-post">ADD</a></li>
						<li class="main-header__item <%= path ==='/user/posts' ? 'active' : '' %> "><a href="/user/posts">FEED</a></li>

						<li class="main-header__item <%= path ==='/user/profile' ? 'active' : '' %> "><a href="/user/profile">PROFILE</a></li>
						<li class="main-header__item <%= path ==='/logout' ? 'active' : '' %> "><a href="/logout">LOGOUT</a></li>
					<% } %>
					

				</div>
			
			</ul>
		  </nav>

		  <div class="hamburger">
		  	<div class="hamburger__slice"></div>
		  	<div class="hamburger__slice"></div>
		  	<div class="hamburger__slice"></div>
		  </div>
		  
		</div>
</header>

<nav class="side-drawer side-drawer-green">
	<ul class="side-drawer__list">

				<li class="side-drawer__item <%= path ==='/' ? 'active' : '' %> "><a href="/">Bleague</a></li>

				<div class="side-drawer__features">
					<% if (!isAuth) { %>
					<li class="side-drawer__item <%= path==='/login' || path=='/signup' ? 'active' : '' %>"><a href="/login">LOGIN</a>
					<%}%>

					<% if (isAuth) { %>
					<!-- logged in features -->
					<li class="side-drawer__item <%= path ==='/user/new-post' ? 'active' : '' %> "><a href="/user/new-post">ADD</a></li>
					<li class="side-drawer__item <%= path ==='/user/posts' ? 'active' : '' %> "><a href="/user/posts">FEED</a></li>

					<li class="side-drawer__item <%= path ==='/user/profile' ? 'active' : '' %> "><a href="/user/profile">PROFILE</a></li>
					<li class="side-drawer__item <%= path ==='/logout' ? 'active' : '' %> "><a href="/logout">LOGOUT</a></li>
					<%}%>
				</div>
			
			</ul>
</nav>

<div class="backdrop">
</div>