<%- include('includes/head.ejs') %>
	<link rel="stylesheet" type="text/css" href="./css/main.css">
	<link rel="stylesheet" type="text/css" href="./css/login.css">
</head>
<body>

	<%- include('includes/navigation.ejs') %>

	<div class="login-card" >
		<header class="login-card__title">
			<h1>Sign-up</h1>
		</header>

		<!--db registration errors-->
		<%if(error){%>
			<div class="error">
				<p><%=error%></p>
			</div>
			
		<%}%>

		<!--validation errors -->
		<div class="error">
			<%for(let err of valErrs){%>
				<p><%= err.msg%></p>
			<%}%>
		</div>
		
		
		<form action="/signup" method="POST">
			
			<div class="login-control">
				<input type="text" name="fullname" 
				placeholder="Full Name">
			</div>	
			<div class="login-control">
				<input type="email" name="email" placeholder="Email" >
			</div>
			<div class="login-control">
				<input type="password" name="password" 
				placeholder="Password">
			</div>

			<div class="login-control">
				<button class="btn btn-green" type="submit">Submit</button>
		    </div>

		</form>
	</div>
	


<%- include('includes/end.ejs') %>