<%- include('../includes/head.ejs') %>

	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/posts.css">
	
</head>
<body>
	<%- include('../includes/navigation.ejs') %>

	<div class="page">
		<h2>User Feed</h2>	
	</div>

	<main>
		<div class="container">
			<div class="post-list">
				<%if(userPosts.length){%>
					<%for(let post of userPosts){ %>
						<article class="post-list__post">
							<h2> <%=post.title%> </h2>
							<div class="img-container">
								<img src="<%= post.imageurl%>" alt="an image"/>
							</div>
							<p class="description">
							  <%=post.description%> 
							<p>
							<a href="/user/posts/<%=post.postid%>"> Read >> </a>
						</article>
					<%}%>
				<%}%>
			</div>
		</div>
	</main>



<%- include('../includes/end.ejs') %>